<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ASSE - Audio Similarity Search Engine</title>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <script src="{{ url_for('static', filename='dropzone.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="upload-form">
        <form action="/file-upload" id="dropzone-form">
            <div class="settings">
                <div class="row">
                    <label for="dataset">Dataset</label>
                    <select class="custom-select sources" placeholder="{{ datasets[0].name }}" name="dataset">
                        {% for dataset in datasets %}
                         <option {% if loop.index == 1 %} selected {% endif %} value="{{ dataset.name }}">{{ dataset.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row">
                    <label for="engine">Engine</label>
                    <select class="custom-select" name="dataset" placeholder="{{ engines[0].clazz }}">
                        {% for engine in engines %}
                         <option {% if loop.index == 1 %} selected {% endif %} value="{{ engine.clazz }}">{{ engine.clazz }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div id="dropzone">
                <p class="user-info">Feel free to drop your music file here!</p>
            </div>
        </form>
    </div>
    <div class="listing">
        <div class="original-file">
            <h1 id="original-file-heading" class="user-info">Search results</h1>
            <div class="original-file-wrapper">
                <audio></audio>
                <div class="control play"><span class="left"></span><span class="right"></span></div>
                <p id="original-file-name"></p>
            </div>
        </div>
        <ul id="result-listing"></ul>
        <a id="search-again" href=".">Search again</a>
    </div>

</body>
</html>